{% extends 'parent.html' %}

{% block title %}
Articles
{% endblock %}

{% block body %}
<div class="container"><br>
    <h1 class="h1"> Add Article </h1>
    <div class="login-box">
    <form  method="POST">
        {{ form.hidden_tag() }}
        <label style="color: white;">Title</label>
        {{ form.title(class="form-control") }}<br><label style="color: white;">Describtion</label>
        {{ form.intro(class="form-control") }}<br><label style="color: white;">Text</label>
        {{ form.text(class="form-control") }}<br>
        {{ form.submit(class='btn btn-secondary') }}



    </form>


</div>
</div>
{% endblock %}